<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management List</title>
</head>
<body>
    <h1>Inventory List</h1>

    <form action="/createItem" method="POST">
        <input type="text" placeholder="Enter Item" name="inventoryItem">
        <input type="submit">
    </form>

    <ul>
        <li>This is where list will eventually go</li>
    </ul>

</body>
</html>